body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #dbedf3;
  font-family: cursive;
  margin-top: 100px;
}

.mahiya {
  background-image: url("./Templates/Mahiya_Ve.jpg");
}

.sang {
  background-image: url("./Templates/Sang_Rahiyo.jpg");
}

.hass {
  background-image: url("./Templates/Hass_Hass.jpg");
}

.unakku {
  background-image: url("./Templates/Unnaku_Thaan.jpg");
}

.naino {
  background-image: url("./Templates/Naino_Ki_Baat.jpg");
}

.bol {
  background-image: url("./Templates/Bol_Kaffara_Kya_Hoga.jpg");
}

.set {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.music {
  border: 10px solid #404b69;
  border-radius: 15px;
  display: block;
  grid-template-rows: repeat(4, 400px);
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 10px;
  background-size: cover;
}

.myClass{
  border: 15px solid #9ba5d8;
}

@media screen and (max-width: 400px) {
    .set{
        display: block;
        font-size: 30px;
    }
    .music{
        width: 275px;
        height: 275px;
    }

    
}
