body {
  text-align: center;
  background-color: #283149;
  /* padding: 5rem; */
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #dbedf3;
  font-family: cursive;
  margin-top: 100px;
}

.mahiya {
  background-image: url("./Templates/Mahiya_Ve.jpg");
}

.sang {
  background-image: url("./Templates/Sang_Rahiyo.jpg");
}

.hass {
  background-image: url("./Templates/Hass_Hass.jpg");
}

.unakku {
  background-image: url("./Templates/Unnaku_Thaan.jpg");
}

.nath {
  background-image: url("./Templates/Nathuniye.jpg");
}

.naino {
  background-image: url("./Templates/Naino_Ki_Baat.jpg");
}

.bol { 
  background-image: url("./Templates/Bol_Kaffara_Kya_Hoga.jpg");
}

.set {
  /* display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  /* flex-direction: column; */

  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.music {
  border: 10px solid #404b69;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  background-size: cover;
}

.myClass{
  border: 15px solid #9ba5d8;
}

@media (min-width: 900px) {
    .set{
      grid-template-columns: repeat(3, 1fr);
    }    
}
@media (min-width: 600px) {
    .set{
      grid-template-columns: repeat(2, 1fr);
    }    
}
@media (min-width: 300px) {
    .set{
      grid-template-columns: repeat(1, 1fr);
    }    
    .music{
      width: 500px;
      height: 500px;
    }
}
